/* Required for full background image */

html,
body,
.view {
  height: 100%;

}

@media (max-width: 740px) {
  html,
  body,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  .view {
    height: 600px;
  }
}

.viewNonIndex {
    background: rgb(196,3,35); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(196,3,35,0.7) 0%, rgba(143,2,34,0.7) 44%, rgba(142,0,47,0.7) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(196,3,35,0.7) 0%,rgba(143,2,34,0.7) 44%,rgba(142,0,47,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(196,3,35,0.7) 0%,rgba(143,2,34,0.7) 44%,rgba(142,0,47,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c40323', endColorstr='#8e002f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.btn-outline-white {
	border: 2px solid;
	background-color: transparent !important;
	color: #fff !important;
}

.btn {
	border-radius: .125rem;
	text-transform: uppercase;
	margin: .375rem;
	padding: .84rem 2.14rem;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.btn .fa {
  margin-left: 3px;
}

.top-nav-collapse {
  background-color: #424f95 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #4F4F4F !important;
  }
}

.btn-white {
  color: black !important;
}

hr {
	border-top: 1px solid #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

h6 {
  line-height: 1.7;
  color: white;
}

.rgba-gradient {
	height: 100%;
background: rgb(196,3,35); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(196,3,35,0.7) 0%, rgba(143,2,34,0.7) 44%, rgba(142,0,47,0.7) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(196,3,35,0.7) 0%,rgba(143,2,34,0.7) 44%,rgba(142,0,47,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(196,3,35,0.7) 0%,rgba(143,2,34,0.7) 44%,rgba(142,0,47,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c40323', endColorstr='#8e002f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.containerCatalogue {
   background-color: #4F4F4F;
   box-shadow: 0 3px 10px 0 rgba(0,0,0,.16), 0 5px 15px 0 rgba(0,0,0,.12);
   padding: 10px;
   border-radius: 25px;
   margin-bottom: 20px;
   color: white;
}